* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-color: rgb(48, 43, 43);
  color: white;
}

.header {
  text-align: center;
  padding: 10px 20px;
  border: 1px solid #666;
}

.header h1 {
  color: #D71921;
}

.header h1 span {
  color: #FFDE0B;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list li {
  list-style: none;
  padding: 0 10px;
}

.list li a {
  color: wheat;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

.list li a:hover {
  color: tomato;
}

@media (max-width:550px) {
  .list li a {
    font-size: 16px;
  }

  .header h1 {
    font-size: 28px;
  }
}

@media (max-width:420px) {
  .list li a {
    font-size: 13px;
  }

  .header h1 {
    font-size: 25px;
  }
}